.btn-primary:hover{
background-color:#338833
}

.btn-primary{
color:#FF5733,
}

.btn{
    border-radius: 30px;
}

table.table-bordered{
    margin-top:20px;
  }

table.table-bordered > thead > tr > th{
    background-color: #FC7206;
    color: white
}


table.table-bordered > tbody > tr:nth-child(even){
    background-color: #D6D1CE;
    
}

table.table-bordered > tbody > tr:nth-child(odd){
    background-color: white;
}
